<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.muhingalayoutprototypes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VenuesDetails"></activity>
        <activity android:name=".Venues" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Houses" />
        <activity android:name=".HousesDetails" />
        <activity android:name=".Land" />
        <activity android:name=".LandDetails" />
        <activity android:name=".Music" />
        <activity android:name=".Artist" />
        <activity android:name=".Album" />
        <activity android:name=".PlayMusic" />
    </application>

</manifest>